<h1>Listing ideas</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= image_tag(idea.picture_url, :width => 200) if idea.picture.present? %></td>
    <td><%= link_to 'Show', idea, class: "btn"%></td>
    <td><%= link_to 'Edit', edit_idea_path(idea), class: "btn btn-info" %></td>
    <td><%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
